<div class="row mt-10">
    <div class="col-lg-4 mx-auto">
        <div class="card">
            <div class="card-body">
                <h4>Administrar Categorias</h4>
                <div class="form-group ">
                    <button  data-toggle="modal" data-target="#exampleModal" class="btn btn-success btn-small" >Nuevo <i class="fa fa-plus-circle"></i></button>
                </div>
                <ul class="list-group" *ngFor="let catg of categoria">
                  <li class="list-group-item list-group-item-primary mt-3">
                    <strong>{{catg.nombre}}</strong>
                   <button (click)="borrarCategoria(catg._id)" class="btn btn-danger btn-small float-right"><i class="fa fa-trash"></i></button>
                  </li>
             </ul>
        </div>
    </div>
</div>


  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">nueva categoria:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="crearCategoria()">
                <div class="container">
                    <div class="row">
                <input type="text" [(ngModel)]="form.nombre" name="nombre"  placeholder="nombre" class="form-control">
            </div>
            </div>
                <button class="btn btn-primary mt-3">Agregar</button>
              </form>
        </div>
      </div>
    </div>
  </div>