
 <section class="post-news-area  mb-70" >
    <div class="container">
        <div class="row justify-content-center">
            <!-- Post Details Content Area -->
            <div class="col-12 col-lg-8">
                <div class="post-details-content mb-30">

                    <img style="margin-bottom: 10px;" [src]="imgRuta+posts.imagen" [alt]="posts.alt">
                    <div class=" social-widget">
                        <ul>
                            <li><strong class="title">Compartir:&nbsp;&nbsp;</strong></li>
                            <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="google"><i class="fa fa-google"></i></a></li>
                            <li><a href="#" class="whatsapp"><i class="fa fa-whatsapp"></i></a></li>
                        </ul>
                    </div>
                      <h1 class="mb-30 mt-15">{{posts.titulo}}</h1>
                      <div [innerHTML]="contenido"></div>
                </div>

                

            </div>

            

            <!-- Sidebar Widget -->
            <div class="col-12 col-sm-9 col-md-6 col-lg-4">
                <div class="sidebar-area">

                    <!-- Add Widget -->
                    <div class="single-widget-area add-widget mb-30">
                        <a href="#">
                            <img [src]="'assets/img/bg-img/add3.png'" alt="">
                        </a>
                    </div>

                    <!-- Latest News Widget -->
                    <div class="single-widget-area news-widget mb-30">
                        <h4>Post relacionados</h4>

                        <!-- Single News Area -->
                        <div class="single-blog-post d-flex style-4 mb-30" *ngFor="let postr of postRelacionados">
                            <!-- Blog Thumbnail -->
                            <div class="blog-thumbnail">
                                <a routerLink="/post/{{postr.url}}/{{postr._id}}"><img [src]="imgRuta+postr.imagen" alt=""></a>
                            </div>

                            <!-- Blog Content -->
                            <div class="blog-content">
                                <span class="post-date">{{postr.createdAt | date : 'mediumDate'}}</span>
                                <a routerLink="/post/{{postr.url}}/{{postr._id}}" class="post-title">{{postr.titulo}}</a>
                            </div>
                        </div>
                       
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

<!-- ##### Post Details Area End ##### -->