<div class="row mt-10">
    <div class="col-lg-4 mx-auto">
      <div class="card">
        <div class="card-body">
          <h4>Crear Administrador</h4>
          <div class="form-group ">
            <button data-toggle="modal" data-target="#exampleModal" class="btn btn-success btn-small">Nuevo <i
                class="fa fa-plus-circle"></i></button>
          </div>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let admin of adminlist">
              <strong>{{admin.nombre}}-{{admin.email}}</strong>
              <button (click)="eliminarAdmin(admin._id)" class="btn btn-danger btn-small float-right"><i class="fa fa-trash"></i></button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  
  
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">nuevo admin:</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="crearAdmin()">
              <div class="form-group">
                <input type="text"  [(ngModel)]="admin.nombre" name="nombre" placeholder="nombre y apellido" class="form-control" autocomplete="off">
              </div>
              <div class="form-group">
                <input type="email" [(ngModel)]="admin.email" name="email" placeholder="email" class="form-control" autocomplete="off">
              </div>
              <div class="form-group">
                <input type="text" [(ngModel)]="admin.contrasena" name="contrasena" placeholder="contraseña" class="form-control" autocomplete="off">
              </div>
              <button class="btn btn-primary mt-3">Registrar</button>
              </form>
          </div>
        </div>
      </div>
    </div>
  
  